body {
    min-width: 1280px;
}

header {
    /*padding: 0  50px;*/
    height: 81px;
    text-align: center;
}

header h1 {
    position: absolute;
    left: 50px;
    top: 0;
    padding: 14px 0 0;
}

header h1 a {
    display: block;
    width: 110px;
    height: 48px;
    color: transparent;
    background: url(./images/sp_com.png) no-repeat -300px 0;
}

/*
header h2{
    position: absolute;
    left: -5000px;
}
*/

header .lnb li {
    display: inline-block;
}

header .lnb li a {
    display: block;
    height: 81px;
    padding: 0 35px;
    font-size: 17px;
    color: #333;
    line-height: 81px;
}

header .lnb li a:hover {
    color: #2d5b79;
    font-weight: bold;
}

header .lnb li a span {
    position: relative;
}

header .lnb li a span:after {
    position: absolute;
    left: 0;
    bottom: -9px;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #2d5b79;
}

header .spot {
    position: absolute;
    right: 50px;
    top: 0;
}

header .spot li {
    position: relative;
    float: left;
}

header .spot li :after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 7px;
    background: #ccc;
    transform: translateY(-50%);
    /*위로 50%*/
}

header .spot li:first-child:after {
    display: none;
}

header .spot li a {
    display: block;
    height: 81px;
    padding: 0 10px;
    line-height: 81px;
}

header .spot li:last-child a {
    padding-right: 0;
}

.visual {
    position: relative;
    padding: 0 50px;
}

.magazine {
    overflow: hidden;
    position: relative;
    height: 670px;
    background: #dfd9d1;
}

.magazine h2 {
    padding: 50px 0 16px;
    font-size: 28px;
    color: #000;
    text-align: center;
    line-height: 100%;
}

.magazine p {
    text-align: center;
    font-size: 14px;
    color: #3a3b36;
    line-height: 100%;
}

.magazine .slide_box>div {
    position: absolute;
    left: 50%;
    top: 150px;
    transform: translate(-50%, 0);
    width: 1180px;
    height: 430px;
}

.magazine .slide_box>div:nth-child(1) {
    margin-left: -1280px;
}

.magazine .slide_box>div:nth-child(1) {
    margin-left: 1280px;
}

.magazine .slide_box .left {
    overflow: hidden;
    position: relative;
    float: left;
    width: 800px;
    height: 430px;
}

.magazine .slide_box .left img {
    width: 100%;
}

.magazine .slide_box .left div {
    position: absolute;
    right: 0;
    top: 0;
    padding: 47px 20px 0;
    width: 200px;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.magazine .slide_box .left div h3 {
    color: #fff;
    font-size: 20px;
    line-height: 32px;
}

.magazine .slide_box .left div h3 span {
    display: block;
    font-weight: normal;
}

.magazine .slide_box .left div p {
    padding: 9px 0 0;
    font-size: 16px;
    color: #fff;
    text-align: left;
    line-height: 24px;
}

.magazine .slide_box .left div a {
    position: absolute;
    right: 20px;
    bottom: 40px;
    display: block;
    width: 160px;
    height: 45px;
    border: 1px solid #fff;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 45px;
}

.magazine .slide_box .right {
    float: right;
    padding: 20px 20px 0;
    width: 380px;
    height: 430px;
    background: #fff;
    box-sizing: border-box;
}

.magazine .slide_box .right li {
    padding: 0 0 20px;
}

.magazine .slide_box .right li a {
    display: table;
    width: 100%;
}

.magazine .slide_box .right li a div {
    display: table-cell;
    position: relative;
    padding: 0 0 0 100px;
    height: 82px;
    font-size: 16px;
    color: #333;
    vertical-align: middle;
}

.magazine .slide_box .right li a img {
    position: absolute;
    left: 0;
    top: 0;
}

.magazine .slide_box .right li a strong {
    display: block;
    font-size: 13px;
    color: #000;
}

.magazine .slide .control {
    bottom: 48px;
}

.magazine .slide .prev {
    left: 50%;
    margin: 26px 0 0 -640px;
}

.magazine .slide .next {
    right: 50%;
    margin: 26px -640px 0 0;
}

/*slide 공통*/

.slide .prev,
.slide .next {
    display: block;
    position: absolute;
    top: 50%;
    width: 25px;
    height: 47px;
    transform: translateY(-50%);
    background: url(./images/sp_com.png) no-repeat;
    color: transparent;
    z-index: 10;
}

.slide .prev {
    left: 82px;
    background-position: -128px -60px;
}

.slide .next {
    right: 82px;
    background-position: -158px -60px;
}

.slide .control {
    position: absolute;
    left: 0;
    bottom: 55px;
    width: 100%;
    text-align: center;
}

.slide .control>div {
    display: inline-block;
    position: relative;
    padding: 0 45px 0 0;
}

.slide .control>div>div {
    position: absolute;
    right: 0;
}

.slide .control>div>div a {
    overflow: hidden;
    display: inline-block;
    margin: 0 0 0 7px;
    width: 8px;
    height: 9px;
    background: url(./images/sp_com.png) no-repeat;
    opacity: 0.5;
}

.slide .control>div>div a.on {
    opacity: 1;
}

.slide .control>div>div a.play {
    background-position: -108px -72px;
}

.slide .control>div>div a.pause {
    background-position: -108px -60px;
}

.slide .control ul {
    display: inline-block;
    font-size: 0;
}

.slide .control li {
    display: inline-block;
    padding: 0.3px;
}

.slide .control li .on a {
    background: #fff;
}

.slide .control li a {
    display: block;
    width: 50px;
    height: 3px;
    background: rgba(255, 255, 255, 0.5);
    border: none;
}

.slide .control a {
    color: transparent;
}

.visual .con>div {
    height: 640px;
}

.visual .con .slide {
    background: url(./images/bg_main02.jpg) no-repeat center;
}

.visual .con .slide {
    background: url(./images/bg_main02.jpg) no-repeat center;
    color: #fff;
    font-size: 30px;
    line-height: 46px;
}

.visual .con .slide p {
    font-size: 20px;
    padding: 5px 0 0;
    font-size: 20px;
}

.visual .con .slide text {
    position: absolute;
    left: 50%;
    top: 175px;
}

.product a {
    color: #001829;
    font-size: 15px;
}

.product a:hover {
    color: #2d5b79;
    font-weight: bold;
}

.product a::before {
    content: "";
    display: block;
    margin: 0 0 26px;
    width: 64px;
    height: 52px;
    background: url(./images/sp_com.png) no-repeat;
}

.product ul {
    padding: 46px 0 41px;
    text-align: center;
    font-size: 0;
}

.product li {
    display: inline-block;
    padding: 0 55px;
    text-align: center;
}

.product li:nth-child(1) a:before {
    background-position: -3px -118px;
}

.product li:nth-child(2) a:before {
    background-position: -75px -118px;
}

.product li:nth-child(3) a:before {
    background-position: -148px -118px;
}

.product li:nth-child(4) a:before {
    background-position: -219px -118px;
}

.product li:nth-child(5) a:before {
    background-position: -292px -118px;
}

.product li:nth-child(6) a:before {
    background-position: -364px -118px;
}

.product li:nth-child(1) a:hover:before {
    background-position: -3px -184px;
}

.product li:nth-child(2) a:hover:before {
    background-position: -75px -184px;
}

.product li:nth-child(3) a:hover:before {
    background-position: -148px -184px;
}

.product li:nth-child(4) a:hover:before {
    background-position: -219px -184px;
}

.product li:nth-child(5) a:hover:before {
    background-position: -292px -184px;
}

.product li:nth-child(6) a:hover:before {
    background-position: -364px -184px;
}
